.leftRightContainer {
  margin-top: -1rem;
  display: flex;
  justify-content: space-between;
  .left {
    margin-top: 1rem;
    height: 94vh;
    width: 100%;
    display: flex;
    align-items: center;
    .leftInnerContainer {
      margin-left: 3%;
      h1 {
        color: rgba(198, 27, 74, 0.5);
        font-size: 9.2rem;
      }
      p {
        color: rgba(198, 27, 74, 0.3);
        font-size: 1.5rem;
        font-weight: 400;
      }
    }
    button {
      background: linear-gradient(267.39deg, #ff5e86 0.86%, #ff9bb4 98.37%);
      box-shadow: 6px 6px 25px rgba(255, 51, 102, 0.25),
        4px 4px 25px rgba(255, 51, 102, 0.15),
        10px 6px 25px rgba(255, 51, 102, 0.15);
      border-radius: 20px;
      padding: 1rem 3rem 1rem 3rem;
      margin-top: 5rem;
      color: white;
      font-weight: 700;
      cursor: pointer;
    }
  }
  .right {
    position: absolute;
    right: 0;
    top: 0;
    
    
    .otherGirl {
      position: absolute;
      margin-top: 85%;
      margin-left: 60%;
    }
    .angela {
      position: absolute;
      margin-top: 25rem;
      margin-left: 10rem;
    }
  }
}


.tracker{
  background-color: white;
  width: 80%;
}


.awards{
  margin-top: 10%;
  background-color: white;
  width: 80%;
}