.container {
  display: inline-flex;
  justify-content: space-between;
  width: 100vw;
  background: linear-gradient(180deg, #f3f3fb 0%, #fdfbfd 100%);
  .leftContainer {
    width: 100%;
    .leftItems {
      display: inline-flex;
      margin-left: 3rem;
      margin-top: 2rem;
      .leftArrow {
        margin-top: 1rem;
      }
      .DayOne {
        margin-left: 2rem;
        filter: drop-shadow(rgba(0, 0, 0, 0.6) 0rem 0rem 0.1rem);
      }
      .textContent {
        margin-top: 2rem;
        margin-left: 2rem;
        h3 {
          font-size: 18px;
          font-weight: 400;
          letter-spacing: 0.915em;
          color: #425070;
        }
        h2 {
          font-size: 30px;
          font-weight: 700;
          letter-spacing: 0.01em;
          color: #f77ca8;
          filter: drop-shadow(rgba(0, 0, 0, 0.3) 0rem 0.3rem 0.1rem);
          margin-top: 1.4rem;
        }
        p {
          font-size: 18px;
          font-weight: 400;
          letter-spacing: 0.01em;
          color: #7e828c;
          margin-top: 1rem;
          // width: 80%;
        }
        .friendsContainer {
          width: 100%;
          display: inline-flex;
          justify-content: center;
          align-items: center;
          .friends {
            display: inline-flex;
            align-items: center;
            .progressButtons {
              button {
                border-radius: 6px;
                margin-right: 5rem;
                width: 11rem;
                padding: 0.8rem;
                color: white;
                i {
                  margin-right: 1rem;
                }
                &.taskDone {
                  background: linear-gradient(
                    92.68deg,
                    #ffe2e9 0%,
                    #f77ca8 100%
                  );
                }
                &.taskNotDone {
                  background: linear-gradient(
                    267.39deg,
                    #ff5e86 0.86%,
                    #ff9bb4 98.37%
                  );
                }
              }
            }
            svg {
              margin-left: -4rem;
            }
            .paraContainer {
              height: 100%;
              background: black;
              p {
                text-align: center;
              }
            }
          }
          p {
            font-size: 13px;
            font-style: normal;
            font-weight: 400;
            letter-spacing: 0.01em;
            width: 100%;
            text-align: center;
          }
        }
      }
    }
    .tabsContainer {
      margin-left: -1rem;
      .tabs {
        z-index: 2;
        span {
          &:first-child {
            margin-left: 3rem;
            margin-right: 1rem;
          }
          z-index: 4;
          cursor: pointer;
          padding: 0.5rem 1rem;
          border-radius: 0.2rem 0.2rem 0rem 0rem;
          background: white;
          color: #ff3366;
          font-size: 16px;
          font-style: normal;
          font-weight: 700;
          text-align: center;
          &.selectedTab {
            filter: drop-shadow(rgba(0, 0, 0, 0.3) 0rem 0.3rem 0.3rem);
          }
          &.notSelectedTab {
            color: #707c97;
            background: none;
          }
        }
      }
      .tab {
        // border-top: 0.1rem solid black;
        z-index: 0;
        width: 100%;
        height: 30rem;
        background: white;
        filter: drop-shadow(rgba(0, 0, 0, 0.2) 0rem -0.2rem 0.2rem);
      }
    }
  }
  .rightContainer {
    // height: 95vh;
    margin-right: -10rem;
    width: 20rem;
    background: linear-gradient(180deg, #f3f3fb 0%, #fdfbfd 100%);
    background: lightcoral;
  }
}
