* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  align-items: center;
}

#titlename {
  color: rgb(241, 66, 124);
  font-weight: bold;
}

#loginbtn {
  border-color: white;
  outline-color: white;
  color: rgb(241, 66, 124);
  font-size: small;
  font-weight: bold;
  background-color: pink;
  margin-right: 5%;
}
#signupbtn {
  outline-color: white;
  border-color: white;
  color: white;
  font-size: small;
  font-weight: bold;
  background-color: rgb(241, 66, 124);
}
