@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
  align-items: center;
}

#titlename {
  color: rgb(241, 66, 124);
  font-weight: bold;
}

#loginbtn {
  border-color: white;
  outline-color: white;
  color: rgb(241, 66, 124);
  font-size: small;
  font-weight: bold;
  background-color: pink;
  margin-right: 5%;
}
#signupbtn {
  outline-color: white;
  border-color: white;
  color: white;
  font-size: small;
  font-weight: bold;
  background-color: rgb(241, 66, 124);
}
