form {
  .loginButton {
    background: #ffe2e9;
    box-shadow: 6px 6px 24px rgba(179, 119, 134, 0.15);
    border: none;
  }
  .signupButton {
    background: linear-gradient(267.39deg, #ff5e86 0.86%, #ff9bb4 98.37%);
    box-shadow: 6px 6px 24px rgba(179, 119, 134, 0.4);
    border: none;
  }
}
